# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="AIzaSyDY_EWB3fh8Ph_lJZqWGKZVjMKWhFGalLE"

# APP_URL: The URL where this applet is hosted.
APP_URL="curl "https://generativelanguage.googleapis.com/v1beta/models/gemini-flash-latest:generateContent" \
  -H 'Content-Type: application/json' \
  -H 'X-goog-api-key: AIzaSyDY_EWB3fh8Ph_lJZqWGKZVjMKWhFGalLE' \
  -X POST \
  -d '{
    "contents": [
      {
        "parts": [
          {
            "text": "Explain how AI works in a few words"
          }
        ]
      }
    ]
  }'"

# TELEGRAM_BOT_TOKEN: The Bot token from @BotFather in Telegram
TELEGRAM_BOT_TOKEN="8850560582:AAERKcijl84PSbKMjiTk4Nwhfzku1qtVwio"

# ADMIN_TELEGRAM_ID: Your personal Telegram user ID (for broadcast commands)
ADMIN_TELEGRAM_ID="@VadimWolff"
